{% extends "layout.html" %}
{% block body %}
<div class="text-center">
    <br>
    <br>
    <h2>Overview</h2>
    <p>The data analyzed is taken from a table that the Government realeases every year<br>with details about how many people have immigrated to the US from other countries.</p>
    <br>
    <h2>Data Set Note</h2>
    <p>
        The numbers signify the amount of people from that country that have been received or have applied as one of the types of lawful or temporary residents below.
        <br>Some of the entries show a -1 as a value from Coutries like East Timor, or Turkmenistan perhaps showing that noyone from that country has applied or been received by the US.
        <br>Or it can be an error, where the computer found it was nil, and for nil values the computer inserts a -1 for that entry.
        <br>Maybe the only one from that country died while in the US or while applying. Im not sure.
    </p>
    <br>
    <h2>Enforcement</h2>
    <p>The data displays the amounts of alien apprehension(arresting an immigrant), removal(deportation), and returns.</p>
    <br>
    <h2>Immigrants</h2>
    <p class="text-center">The immigration data set used can be found <a href="https://think.cs.vt.edu/corgis/json/immigration/immigration.html">here</a><br>The data shows the number of people granted lawful permanent residence(in 2005) in the form of:</p>
</div>
<br>
<div>
    <p>
      <b>Legal Permanent Resident:</b> to become a permanent resident, an applicant must apply for a green card, once granted a Permanent Resident card(Green Card), one can work and live in the US permanently. More info about process and application found at 
      <a href="https://www.uscis.gov/greencard">Green Card - USCIS.</a>
    </p>
    <p>
      <b>Tourist:</b> through the Visa waiver program, a tourist can apply for B-2 Tourist Visa by going to 
      <a href="http://www.esta.us/touristvisa.html">ESTA</a> webpage.
    </p>
    <p>
      <b>Worker:</b> a worker must obtain a Temporary(Nonimmigrant) Visa in order to enter the US, there are variouse types of worker Visas, more info can be found at this 
      <a href="https://www.uscis.gov/working-united-states/temporary-nonimmigrant-workers">USCIS</a> webpage.
    </p>
    <p>
      <b>Student:</b> to obtain a student Visa, a student can fill out a DS-160 form by <a href="https://ceac.state.gov/genniv/">applying here</a>. 
      More info found at <a href="https://travel.state.gov/content/visas/en/study-exchange/student.html">Travel State Gov</a> webpage.
    </p>
    <p>
      <b>Asylum/Refugee:</b> do you feel persecuted? Have you been already? Then apply for refugee status today! 
      <a href="https://www.uscis.gov/humanitarian/refugees-asylum">Apply Now!</a>
    </p>
    <p>
      <b>Naturalized:</b> to become a naturalized citizen there are certain requirements that need to be meet, having a Green Card for five years for instance, but once naturalized, a permanent resident gives up allegiance to any other nation and is a citizen of the United States. More info at 
      <a href="https://www.uscis.gov/citizenship/educators/naturalization-information">Naturalization Info.</a>
    </p>
    <br>
</div>
{% endblock %}
