<html>
  <head>
    <title>Immigration</title>
    <style>
      body{text-align:center;}
    </style>
  </head>
  <body>
    <p>Source of Data:</p>
    <p>Significance: The data from the Immigration json<br>shows the amount and type of immigrant<br>that has arrived in the US in 2008.</p>
    <p>The data is calulated based on the applications for Greencards or Naturalization are submmited to USCIS office</p>
    <p>Immigration is the US is regulated by Government laws such as the<br>
       Immigration & Nationality Act(1952), which defines the Immigration System.</p>
    <p>Sources:</p>
    <a href="https://www.uscis.gov/ilink/docView/SLB/HTML/SLB/act.html">Immigration & Nationality Act</a>
  </body>
</html>
